<!DOCTYPE html>
<html>
<head>
	<title> SITNICE</title>
</head>

<body>

<h1>Sitnice</h1>
<p class="bla">Find me in app/views/pages/info.html.erb</p>

<img src="https://31.media.tumblr.com/4776f2bd1385ff53ad92e2da29bbe5d2/tumblr_inline_mtg6cyvOKb1r0m3cs.jpg" alt="W3Schools.com" >
<img src="/assets/mogren.jpg" alt="W3Schools.com" >


      <p>Macke koje se cesto mesaju:</p>
	<ol start=“3”>
		<li>Pufnaste:
		      <ul>
			<li>Persijska</li>
			<li>Norveska sumska macka</li>
			<li>Garfild</li>
		      </ul>
		</li>
		<br><br><br><br>

<table border="1" cellpadding="8" cellspacing="4">
		<tr>
		<th> English </th>
		<th> Spanish </th>
		<th> German </th>
		</tr>
		<tr>
		   <td>one</td><td>uno</td><td>ein</td>
		</tr>
		<tr>
		   <td>two</td><td>dos</td><td>zwei</td>
		</tr>
		<tr>
		   <td>three</td><td>tres</td><td>drei</td>
		</tr>
		<br><caption align="bottom"> <b>tabela 1</b>: brojanje na raznim jezicima</caption>
      </table>




</body>
</html>